.message-container{
    min-height: 18px;
    margin: 1px 12px 1px 0;
}

Label{
    white-space: normal;
}

#warning-icon{
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    align-self: flex-start;
    -unity-background-scale-mode: scale-to-fit;
}